/* profile.module.css */

/* Estilos para el contenedor principal de la página de perfil */
.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra el contenido horizontalmente */
    height: 800px;
    /* 800px de alto */
    padding: 130px;
    /* Agrega un espacio alrededor */
    box-sizing: border-box;
    /* Incluye el espacio de relleno en el ancho/altura */
}


.header {
    background-color: #071620;
    color: white;
    padding: 300px 0;
    /* Aumenta el espacio en el encabezado */
    text-align: center;
    width: 120%;
    /* Ocupa todo el ancho disponible */
    box-sizing: border-box;
    /* Incluye el espacio de relleno en el ancho */
    border-radius: 15px;
    /* Agrega bordes redondeados */
}

/* Estilos para el contenido del encabezado */
.headerContent {
    max-width: 800px;
    margin: 0 auto;
}

/* Resto de estilos como antes... */