.backgroundImageSection {
    background-image: url('/images/bgclaim.webp');
    background-size: cover;
    /* Ajusta el tamaño de la imagen de fondo */
    background-position: center center;
    /* Centra la imagen de fondo */
    /* Agrega márgenes o padding para mover el contenido hacia abajo */
    padding: 90px 20px;
    /* Ajusta el valor según lo que necesites */
    /* Otros estilos aquí */
}

/* Ajusta el margen o padding del contenido en la columna */
.col {
    margin-top: 100px;
    /* Ajusta el valor según lo que necesites */
    /* Otros estilos aquí */
}